.banner {
  position: relative;
  width: 86%;
  max-width: 1240px; 
  //margin: auto;
  //margin-top: 63px ;
  background: #000000;
  border-radius: 25px;
  height: 223px;
  
  margin: 63px auto 43px;
}

.img-banner {
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  filter: brightness(0.5);
}

.titre-banner {
  position: absolute;
  top: 40%;
  left: 30px;
  right: 20px;
  bottom: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  color: #fff;
  text-align: center;
  font-weight: normal;
  z-index: 20;
  @include mobile{
    font-size: 24px;
  }
}
