.collapse-container {
    max-width: 1023px;
    width: 70%;
    margin: auto;
    background-color: $color-header;
}
    

.collapse {//div titre
    max-width: 1023px;
    height: 47px;
    background-color: $color-ref-site;
    color: $color-ref-site;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 31px auto;
    border-radius: 5px;
}

    
h2 {
    color: $color-h2;
    font-size: 24px;
    font-weight: 500;
    padding-left: 20px;
    padding-top: 10px;
    
    
}

// .collapse-titre {
//     color: $color-4;
//     cursor: pointer;
//     color: $color-4;
//     font-size: 24px;
//     font-weight: 500;
//     padding-left: 20px;
//     padding-top: 10px;
// }
    
    
   

.description {
    font-weight: 400;
    font-size: 24px;
    
    width: 100%;
    max-width: 978px;
    height: auto;
    margin-top: 0;
    border-radius: 5px;
    background-color: $color-background-div-main;
    z-index: 3;
    @include mobile {
        font-size: 12px;
    }
}
.pDescription {
    width: 90%;
    margin: auto;
    color: $color-ref-site;
    background-color: $color-background-div-main;
    z-index: 10;
}