// Carrousel
// .contener-slide {
//   position: relative;
//   width: 86%;
//   max-width: 1240px;
//   height: 415px;
//   overflow: hidden;
//   background-color: cadetblue;
//   position: relative;
//   margin: 25px auto;

// }
.banner-fiche {
  position: relative;
  width: 100%;
  //max-width: 1240px;
  height: 415px;
  overflow: hidden;
  background-color: rgb(222, 235, 236);
 
  margin: 25px auto;
}

.slideLogement {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //object-fit: cover;
  object-fit: cover;
  border-radius: 25px;
  width: 100%;
  height: 415px;
}

.btn-droite {
  position: absolute;
  top: 40%;
  right: 23px;
  width: 47px;
  height: 79px;
  cursor: pointer;
  
  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}
.btn-droite__clear {
  opacity: 0;
}

.btn-gauche {
  position: absolute;
  top: 40%;
  left: 23px;
  width: 47px;
  height: 79px;
  cursor: pointer;
  &:hover{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
  }
}
.btn-gauche__clear {
  opacity: 0;
}

.compteur {
  position: absolute;
  font-size: 18px;
  bottom: 25px;
  left: 50%;
  right: 50%;
}

// ----------------- //

.fiche-contener {
  width: 86%;
  max-width: 1240px;
  margin: auto;
}

.fiche-infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 0;
}
.fiche-titre {
  color: $color-ref-site;
  font-size: 36px;
  font-weight: 500;
}
.localisation {
  font-size: 18px;
  font-weight: 500;
  color: $color-ref-site;
}

//host (name - picture )
.host-infos {
  display: flex;
  flex-direction: row;
}
.host-name {
  color: $color-ref-site;
  font-weight: 500;
  font-size: 18;
  max-width: 93px;
  text-align: center;
  padding-top: 15px;
  margin-right: 10px;
  //width : min-content
  //'column-gap' et 'row-gap' avec flexbox défini en 'flex-direction: row' ou 'flex-direction: column'
}
.host-picture {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: $color-host;
}

// container divs tags - rating - collapses
.contenerDivs {
  margin: 30px 0;
}

//tags et rating
.tagsEtRating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.rateBox > img {
  width: 30px;
  height: 30px;
}

// tags
.tags {
  display: flex;
  flex-direction: row;
  margin-left: 0;
}

.tagItem {
  min-width: 115px;
  width: auto;
  height: 25px;
  //height: auto;
  border-radius: 25px;
  background-color: $color-ref-site;
  color: $color-white;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-right: 10px;
  padding: 5px;
}

.tagsEtRating {
  margin-bottom: 30px;
}
