.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $color-3;
    border-radius: 25px;
    margin-top: 43px;
    max-width: 1240px;
    width: 86%;
    background-color: dimgrey;
    margin: auto;
  }