* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
   
  }
    
    
    
  li {
    list-style-type: none;
  }

  

  $color-ref-site: #FF6060;
  $color-h2: #F6F6F6;
  $color-background-div-main: #F7F7F7;
  $color-white: #FFFFFF;
  $color-header: #E5E5E5;
  $color-host: #C4C4C4;
  $color-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

  $breakpoints: (
    mobile: 768px,
    tablette: 992px
);

// => @include mobile{} / @incude tablette{}
@mixin tablette {
  @media screen and (max-width: map-get($breakpoints, tablette)) {
      @content;
  }
}
@mixin mobile {
  @media screen and (max-width: map-get($breakpoints, mobile)){
      @content;
  }
}
  