* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fff;
    width: 100%;
    
    // @include verticalCenter;
  }
  li {
    list-style-type: none;
  }

  $color-1: #FF6060;
  